.circle {
    display: inline-block;

    position: relative;

    margin-right: 50px;
    width: 150px;
    height: 150px;

    border-radius: 50%;

    &:last-child {
        margin-right: 0;
    }

    &__slice,
    &__bar,
    &__fill {
        position: absolute;

        box-sizing: border-box;
        width: 100%;
        height: 100%;

        border-radius: 50%;
    }

    &__slice {
        clip: rect(0, 150px, 150px, 75px);
    }

    &__bar {
        border: 15px solid #000;
        clip: rect(0, 75px, 150px, 0);
    }

    &__slice--morethanhalf {
        clip: rect(auto, auto, auto, auto);

        .circle__fill {
            border: 15px solid #000;
            clip: rect(0, 75px, 150px, 0);
            transform: rotate(180deg);
        }
    }

    &--hours {
        .circle__bar,
        .circle__fill {
            border-color: $color-juniper;
        }

        .circle__bar {
            transform: rotate(90deg);
        }
    }

    &--mins {
        .circle__bar,
        .circle__fill {
            border-color: $color-muddy-waters;
        }

        .circle__bar {
            transform: rotate(270deg);
        }
    }

    &--secs {
        border-color: $color-kelp;
    }
}
